/* latin-ext */
@font-face {
    font-family: 'Pirata One';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/I_urMpiDvgLdLh0fAtofhiGOrq_B.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Pirata One';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/I_urMpiDvgLdLh0fAtofhi-Org.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FUkU1Z4Y.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FWkU1Z4Y.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FU0U1Z4Y.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FVUU1Z4Y.woff2) format('woff2');
    unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FWUU1Z4Y.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FV0U1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.introBySD {
    z-index : -1;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle at 30% 86%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 55% 100%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 40% 75%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 7% 99%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 69% 76%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 2% 35%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 14% 48%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 28% 87%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 65% 14%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 51% 36%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 6% 93%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(135deg, rgb(23, 233, 173),rgb(29, 24, 208));

}
.introBySD .h1Con {
    position: fixed;
    bottom: 10px;
    left: 20px;
}
.introBySD h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #FFF;
    background: linear-gradient(to right, #FFF, #babbbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.introBySD_title {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    background-color: rgb(0 0 0 / 40%);
    color: white;
}
.introBySD_title h2 {
    text-align: center;
    font-family: 'Pirata One', cursive;
    font-size: 1.5rem;
}

.introBySD .h3Con {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.introBySD h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #FFF;
    background: linear-gradient(to bottom, #FFF, #babbbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.introBySD header{
    opacity: 0;
}
.fade-in {
    animation: fadeIn forwards 4s;
    -webkit-animation: fadeIn forwards 4s;
    -moz-animation: fadeIn forwards 4s;
    -o-animation: fadeIn forwards 4s;
    -ms-animation: fadeIn forwards 4s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

:root {
    --hue: 223;
    --bg: hsl(var(--hue),10%,90%);
    --fg: hsl(var(--hue),10%,10%);
    --primary: hsl(var(--hue),90%,55%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}
.preloaderContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg);
    color: var(--fg);
    font: 1em/1.5 "DM Sans", sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    transition:
            background-color var(--trans-dur),
            color var(--trans-dur);
}
.preloader {
    text-align: center;
    max-width: 20em;
    width: 100%;
}
.preloader__text {
    position: relative;
    height: 1.5em;
}
.preloader__msg {
    animation: msg 0.3s 13.7s linear forwards;
    position: absolute;
    width: 100%;
}
.preloader__msg--last {
    animation-direction: reverse;
    animation-delay: 14s;
    visibility: hidden;
}
.cart {
    display: block;
    margin: 0 auto 1.5em auto;
    width: 8em;
    height: 8em;
}
.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
    animation: cartLines 2s ease-in-out infinite;
}
.cart__lines {
    stroke: var(--primary);
}
.cart__top {
    animation-name: cartTop;
}
.cart__wheel1 {
    animation-name: cartWheel1;
    transform: rotate(-0.25turn);
    transform-origin: 43px 111px;
}
.cart__wheel2 {
    animation-name: cartWheel2;
    transform: rotate(0.25turn);
    transform-origin: 102px 111px;
}
.cart__wheel-stroke {
    animation-name: cartWheelStroke
}
.cart__track {
    stroke: hsla(var(--hue),10%,10%,0.1);
    transition: stroke var(--trans-dur);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue),10%,10%);
        --fg: hsl(var(--hue),10%,90%);
    }
    .cart__track {
        stroke: hsla(var(--hue),10%,90%,0.1);
    }
}

/* Animations */
@keyframes msg {
    from {
        opacity: 1;
        visibility: visible;
    }
    99.9% {
        opacity: 0;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes cartLines {
    from,
    to {
        opacity: 0;
    }
    8%,
    92% {
        opacity: 1;
    }
}
@keyframes cartTop {
    from {
        stroke-dashoffset: -338;
    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 338;
    }
}
@keyframes cartWheel1 {
    from {
        transform: rotate(-0.25turn);
    }
    to {
        transform: rotate(2.75turn);
    }
}
@keyframes cartWheel2 {
    from {
        transform: rotate(0.25turn);
    }
    to {
        transform: rotate(3.25turn);
    }
}
@keyframes cartWheelStroke {
    from,
    to {
        stroke-dashoffset: 81.68;
    }
    50% {
        stroke-dashoffset: 40.84;
    }
}